In [7]:
import pandas as pd
from pathlib import Path
import datetime as dt

In [3]:
data_dir = Path("csv/")

In [4]:
df = pd.concat([pd.read_csv(f) for f in data_dir.glob("*.csv")], ignore_index=True)
df.to_csv("result.csv", index=False)

In [6]:
df.sort_values('created')

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,assignee,issuetype,reporter,resolution,project,updated,created,resolved,components,severity
25966,SPARK-515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,matei,None,Spark,2012-10-22T14:55:30.000+0000,0010-04-03T23:04:00.000+0000,2012-10-19T22:50:39.000+0000,NaN,0.0
25967,SPARK-514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,matei,None,Spark,2012-10-22T14:55:35.000+0000,0010-04-03T23:05:00.000+0000,2012-10-19T22:50:36.000+0000,NaN,0.0
25968,SPARK-513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,matei,None,Spark,2012-10-22T14:55:32.000+0000,0010-04-03T23:06:00.000+0000,2012-10-19T22:50:22.000+0000,NaN,0.0
25969,SPARK-512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,matei,None,Spark,2012-10-22T14:55:36.000+0000,0010-04-03T23:07:00.000+0000,2012-10-19T22:50:37.000+0000,NaN,0.0
25970,SPARK-511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,matei,None,Spark,2012-10-22T14:55:33.000+0000,0010-04-03T23:09:00.000+0000,2012-10-19T22:50:32.000+0000,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19221,NaN,3d6e75419330d27435becfdf8cfb0b6d20d56cf8,Patrick Wendell,pwendell@gmail.com,Patrick Wendell,pwendell@gmail.com,1.390535e+09,-480.0,64b0bda8b2e05821dc06f9641d4e183a2ada03a6,Merge pull request #503 from pwendell/master\n...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19222,NaN,0213b4032a78d621405105365119677edc663b1b,Patrick Wendell,pwendell@gmail.com,Patrick Wendell,pwendell@gmail.com,1.390529e+09,-480.0,5592ba2d729e0a156fbc1671934eb9a088ac4ad3,Fix bug on read-side of external sort when usi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19223,NaN,f16c21e22f706b268419fefce44e9905db3ee485,Reynold Xin,rxin@apache.org,Reynold Xin,rxin@apache.org,1.390861e+09,-480.0,a23293a18ffd67db2cfc6dfd6c4b0e8fc31e7d0b,Merge pull request #490 from hsaputra/modify_c...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19224,NaN,90ea9d5a8f9db85ddbbe1b5df51da4db3948b2e3,Henry Saputra,hsaputra@apache.org,Henry Saputra,hsaputra@apache.org,1.390375e+09,-480.0,26f4e0664a3910d1639f4d05c1f84386bf703d0d,Replace the code to check for Option != None w...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19225,NaN,f67ce3e2297352678371865b01acf3595443b2e1,Sean Owen,sowen@cloudera.com,Patrick Wendell,pwendell@gmail.com,1.390850e+09,-480.0,375ca411c09189d268a8c6074c27ce98d28353cb,Merge pull request #460 from srowen/RandomInit...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.groupby("author_name", as_index=False).size().sort_values("size", ascending=False).iloc[:10,0]

561      Matei Zaharia
724        Reynold Xin
666    Patrick Wendell
432         Josh Rosen
208         Davies Liu
839      Tathagata Das
60           Andrew Or
149         Cheng Lian
916      Xiangrui Meng
903        Wenchen Fan
Name: author_name, dtype: object

In [15]:
df.groupby("author_name", as_index=False).size().sort_values("size", ascending=False)

          author_name  size
561     Matei Zaharia  1599
724       Reynold Xin  1459
666   Patrick Wendell   865
432        Josh Rosen   564
208        Davies Liu   506
...               ...   ...
355     Hurshal Patel     1
831   Takuya Kuwahara     1
833     Tal Sliwowicz     1
834            Tao LI     1
1309               许鹏     1

[1310 rows x 2 columns]

In [16]:
df.groupby("author_name", as_index=False).size().sort_values("size", ascending=False).head(10)

         author_name  size
561    Matei Zaharia  1599
724      Reynold Xin  1459
666  Patrick Wendell   865
432       Josh Rosen   564
208       Davies Liu   506
839    Tathagata Das   501
60         Andrew Or   460
149       Cheng Lian   391
916    Xiangrui Meng   372
903      Wenchen Fan   365

In [25]:
df.loc[(df['issuetype'] == 'Bug')]

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,assignee,issuetype,reporter,resolution,project,updated,created,resolved,components,severity
19227,SPARK-4956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,liaoyuxi,None,Spark,2015-03-04T05:16:07.000+0000,2014-12-24T12:27:12.000+0000,2015-02-23T22:34:41.000+0000,MLlib,1.0
19228,SPARK-4955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,lianhuiwang,Bug,chengxiang li,None,Spark,2015-01-28T20:54:23.000+0000,2014-12-24T09:16:23.000+0000,2015-01-28T20:54:23.000+0000,YARN,10.0
19230,SPARK-4953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,sarutak,Bug,sarutak,None,Spark,2014-12-25T15:06:12.000+0000,2014-12-24T07:07:56.000+0000,2014-12-25T15:06:12.000+0000,Documentation,3.0
19231,SPARK-4952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gq,Bug,gq,None,Spark,2015-03-08T14:17:37.000+0000,2014-12-24T06:42:43.000+0000,2014-12-27T07:32:38.000+0000,"Spark Core,YARN",3.0
19232,SPARK-4951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,zsxwing,Bug,zsxwing,None,Spark,2015-01-12T00:24:24.000+0000,2014-12-24T05:29:48.000+0000,2015-01-12T00:24:24.000+0000,Spark Core,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37184,SPARK-3364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,kallsu,None,Spark,2014-09-10T07:12:31.000+0000,2014-09-03T05:01:58.000+0000,2014-09-10T07:12:31.000+0000,Spark Core,3.0
37185,SPARK-3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,adrian-wang,Bug,adrian-wang,None,Spark,2014-09-10T17:49:22.000+0000,2014-09-03T04:26:18.000+0000,2014-09-10T17:49:22.000+0000,SQL,3.0
37186,SPARK-3362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,adrian-wang,Bug,adrian-wang,None,Spark,2014-09-10T17:47:14.000+0000,2014-09-03T03:15:00.000+0000,2014-09-10T17:47:14.000+0000,SQL,3.0
37189,SPARK-3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,mengxr,None,Spark,2016-07-15T11:25:10.000+0000,2014-09-03T01:04:40.000+0000,NaN,Documentation,1.0
37190,SPARK-3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,joshrosen,None,Spark,2014-12-13T07:33:17.000+0000,2014-09-03T00:37:27.000+0000,2014-12-13T07:33:17.000+0000,PySpark,3.0

In [32]:
df[((df['created'] > '2016-04-01') & (df['created'] < '2016-10-1')) & (df['severity'] == 10)]

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,assignee,issuetype,reporter,resolution,project,updated,created,resolved,components,severity
19548,SPARK-14462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,dbtsai,Sub-task,dbtsai,None,Spark,2016-04-11T16:35:57.000+0000,2016-04-07T19:57:57.000+0000,2016-04-11T16:35:57.000+0000,"ML,MLlib",10.0
19617,SPARK-14393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,mengxr,Bug,jpiper,None,Spark,2016-11-03T05:26:03.000+0000,2016-04-05T01:04:15.000+0000,2016-11-02T18:41:43.000+0000,SQL,10.0
19818,SPARK-17806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,davies,Bug,v-gerasimov,None,Spark,2016-10-27T08:11:01.000+0000,2016-10-06T11:48:46.000+0000,2016-10-07T22:04:25.000+0000,SQL,10.0
19844,SPARK-16379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,srowen,Bug,skonto,None,Spark,2016-07-06T21:21:41.000+0000,2016-07-05T11:24:05.000+0000,2016-07-06T20:36:02.000+0000,Spark Core,10.0
19852,SPARK-16371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,hyukjin.kwon,Bug,maver1ck,None,Spark,2016-07-06T19:46:06.000+0000,2016-07-04T22:50:22.000+0000,2016-07-06T19:42:09.000+0000,SQL,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36474,SPARK-15444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,viirya,Test,viirya,None,Spark,2016-05-20T20:27:40.000+0000,2016-05-20T09:15:23.000+0000,2016-05-20T11:40:50.000+0000,NaN,10.0
36481,SPARK-15437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rxin,Bug,smilegator,None,Spark,2016-05-21T05:02:04.000+0000,2016-05-20T06:18:45.000+0000,2016-05-21T05:02:04.000+0000,SparkR,10.0
36492,SPARK-15426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rxin,Improvement,rxin,None,Spark,2016-06-15T16:44:03.000+0000,2016-05-20T01:13:29.000+0000,2016-06-15T16:44:03.000+0000,SQL,10.0
36501,SPARK-15417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,andrewor14,Bug,smilegator,None,Spark,2016-05-20T18:16:53.000+0000,2016-05-19T20:35:04.000+0000,2016-05-20T06:44:31.000+0000,"PySpark,SQL",10.0
36515,SPARK-15403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,rain_dev,None,Spark,2016-05-20T11:16:08.000+0000,2016-05-19T10:22:28.000+0000,2016-05-20T11:16:08.000+0000,MLlib,10.0

In [37]:
df_count = df[((df['created'] > '2016-04-01') & (df['created'] < '2016-10-1')) & (df['severity'] == 10)]
df_count.count()

key                 83
cid                  0
author_name          0
author_email         0
committer_name       0
committer_email      0
time                 0
time_offset          0
tree_id              0
message_encoding     0
jira_id             83
status_category     83
creator             83
priority            83
status              83
assignee            83
issuetype           83
reporter            83
resolution          83
project             83
updated             83
created             83
resolved            83
components          80
severity            83
dtype: int64

In [39]:
df_count.count()[0]

83

In [5]:
df['updated'] = pd.to_datetime(df['updated'],errors='coerce' )
df['created'] = pd.to_datetime(df['created'],errors='coerce' )
df['resolved'] = pd.to_datetime(df['resolved'],errors='coerce')

In [6]:
df

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,assignee,issuetype,reporter,resolution,project,updated,created,resolved,components,severity
0,SPARK-16904,57626a55703a189e03148398f67c36cd0e557044,gatorsmile,gatorsmile@gmail.com,Reynold Xin,rxin@databricks.com,1.478510e+09,-480.0,0f4ae99e29245041cae4d41f58aa208dba6beea4,[SPARK-16904][SQL] Removal of Hive Built-in Ha...,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
1,SPARK-18296,9db06c442cf85e41d51c7b167817f4e7971bf0da,Reynold Xin,rxin@databricks.com,Reynold Xin,rxin@databricks.com,1.478501e+09,-480.0,e6325a24125325611506a7fc0119209b88be17e3,[SPARK-18296][SQL] Use consistent naming for e...,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
2,SPARK-18167,07ac3f09daf2b28436bc69f76badd1e36d756e4d,Reynold Xin,rxin@databricks.com,Reynold Xin,rxin@databricks.com,1.478501e+09,-480.0,525bd0fd99741a6a0e2bcfdd5c4e074f839b92a5,[SPARK-18167][SQL] Disable flaky hive partitio...,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
3,SPARK-18173,46b2e499935386e28899d860110a6ab16c107c0c,Wenchen Fan,wenchen@databricks.com,Reynold Xin,rxin@databricks.com,1.478487e+09,-480.0,a27367a0be38e5a8814aac6295387f0457c603c8,[SPARK-18173][SQL] data source tables should s...,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
4,SPARK-18269,556a3b7d07f36c29ceb88fb6c24cc229e0e53ee4,hyukjinkwon,gurwls223@gmail.com,Reynold Xin,rxin@databricks.com,1.478487e+09,-480.0,ba48a84dc34757cd6691b6a7ce9abdb615c4c1ac,[SPARK-18269][SQL] CSV datasource should read ...,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37187,SPARK-3361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nchammas,Sub-task,nchammas,None,Spark,2014-09-06 06:09:10+00:00,2014-09-03 03:14:46+00:00,2014-09-06 06:09:09+00:00,Build,1.0
37188,SPARK-3360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Improvement,sandyr,None,Spark,2016-01-12 14:23:47+00:00,2014-09-03 02:23:31+00:00,2016-01-12 14:23:47+00:00,MLlib,3.0
37189,SPARK-3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,mengxr,None,Spark,2016-07-15 11:25:10+00:00,2014-09-03 01:04:40+00:00,NaT,Documentation,1.0
37190,SPARK-3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Bug,joshrosen,None,Spark,2014-12-13 07:33:17+00:00,2014-09-03 00:37:27+00:00,2014-12-13 07:33:17+00:00,PySpark,3.0
37191,SPARK-3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,srowen,Improvement,mengxr,None,Spark,2015-03-02 08:51:20+00:00,2014-09-03 00:16:24+00:00,2015-03-02 08:51:20+00:00,Spark Core,1.0

In [19]:
df['fixing'] = df.resolved.subtract(df.created)

In [20]:
df

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,issuetype,reporter,resolution,project,updated,created,resolved,components,severity,fixing
0,SPARK-16904,57626a55703a189e03148398f67c36cd0e557044,gatorsmile,gatorsmile@gmail.com,Reynold Xin,rxin@databricks.com,1.478510e+09,-480.0,0f4ae99e29245041cae4d41f58aa208dba6beea4,[SPARK-16904][SQL] Removal of Hive Built-in Ha...,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT
1,SPARK-18296,9db06c442cf85e41d51c7b167817f4e7971bf0da,Reynold Xin,rxin@databricks.com,Reynold Xin,rxin@databricks.com,1.478501e+09,-480.0,e6325a24125325611506a7fc0119209b88be17e3,[SPARK-18296][SQL] Use consistent naming for e...,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT
2,SPARK-18167,07ac3f09daf2b28436bc69f76badd1e36d756e4d,Reynold Xin,rxin@databricks.com,Reynold Xin,rxin@databricks.com,1.478501e+09,-480.0,525bd0fd99741a6a0e2bcfdd5c4e074f839b92a5,[SPARK-18167][SQL] Disable flaky hive partitio...,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT
3,SPARK-18173,46b2e499935386e28899d860110a6ab16c107c0c,Wenchen Fan,wenchen@databricks.com,Reynold Xin,rxin@databricks.com,1.478487e+09,-480.0,a27367a0be38e5a8814aac6295387f0457c603c8,[SPARK-18173][SQL] data source tables should s...,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT
4,SPARK-18269,556a3b7d07f36c29ceb88fb6c24cc229e0e53ee4,hyukjinkwon,gurwls223@gmail.com,Reynold Xin,rxin@databricks.com,1.478487e+09,-480.0,ba48a84dc34757cd6691b6a7ce9abdb615c4c1ac,[SPARK-18269][SQL] CSV datasource should read ...,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37187,SPARK-3361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-task,nchammas,None,Spark,2014-09-06 06:09:10+00:00,2014-09-03 03:14:46+00:00,2014-09-06 06:09:09+00:00,Build,1.0,3 days 02:54:23
37188,SPARK-3360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,sandyr,None,Spark,2016-01-12 14:23:47+00:00,2014-09-03 02:23:31+00:00,2016-01-12 14:23:47+00:00,MLlib,3.0,496 days 12:00:16
37189,SPARK-3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bug,mengxr,None,Spark,2016-07-15 11:25:10+00:00,2014-09-03 01:04:40+00:00,NaT,Documentation,1.0,NaT
37190,SPARK-3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bug,joshrosen,None,Spark,2014-12-13 07:33:17+00:00,2014-09-03 00:37:27+00:00,2014-12-13 07:33:17+00:00,PySpark,3.0,101 days 06:55:50
37191,SPARK-3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,mengxr,None,Spark,2015-03-02 08:51:20+00:00,2014-09-03 00:16:24+00:00,2015-03-02 08:51:20+00:00,Spark Core,1.0,180 days 08:34:56

In [22]:
df.sort_values('fixing')[::-1]

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,issuetype,reporter,resolution,project,updated,created,resolved,components,severity,fixing
37189,SPARK-3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bug,mengxr,None,Spark,2016-07-15 11:25:10+00:00,2014-09-03 01:04:40+00:00,NaT,Documentation,1.0,NaT
37175,SPARK-3373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,uncleGen,None,Spark,2015-05-04 11:46:13+00:00,2014-09-03 13:36:05+00:00,NaT,GraphX,3.0,NaT
37168,SPARK-3380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,josephkb,None,Spark,2016-08-31 21:30:57+00:00,2014-09-03 18:33:27+00:00,NaT,MLlib,1.0,NaT
37165,SPARK-3383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,josephkb,None,Spark,2016-08-31 21:30:21+00:00,2014-09-03 18:53:27+00:00,NaT,MLlib,1.0,NaT
37129,SPARK-3419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,sandyr,None,Spark,2015-02-07 17:20:56+00:00,2014-09-05 18:31:00+00:00,NaT,Scheduler,3.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35416,SPARK-866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,New Feature,matei,None,Spark,2013-08-12 17:25:38+00:00,2013-08-06 23:43:01+00:00,2013-08-06 23:43:17+00:00,PySpark,1.0,0 days 00:00:16
32506,SPARK-2676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,ConcreteVitamin,None,Spark,2014-07-24 19:23:26+00:00,2014-07-24 19:23:11+00:00,2014-07-24 19:23:26+00:00,Spark Core,3.0,0 days 00:00:15
24994,SPARK-1788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dependency upgrade,marmbrus,None,Spark,2014-05-10 18:51:15+00:00,2014-05-10 18:51:01+00:00,2014-05-10 18:51:15+00:00,SQL,3.0,0 days 00:00:14
35091,SPARK-8299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-task,rxin,None,Spark,2015-06-10 22:42:37+00:00,2015-06-10 22:42:24+00:00,2015-06-10 22:42:37+00:00,SQL,3.0,0 days 00:00:13
20282,SPARK-2300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bug,andrewor14,None,Spark,2014-11-05 10:45:21+00:00,2014-06-26 23:49:55+00:00,2014-06-26 23:50:07+00:00,PySpark,10.0,0 days 00:00:12

In [24]:
df.dropna(subset='fixing').sort_values('fixing')[::-1].head(10)

,key,cid,author_name,author_email,committer_name,committer_email,time,time_offset,tree_id,message_encoding,...,issuetype,reporter,resolution,project,updated,created,resolved,components,severity,fixing
26488,SPARK-593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,dennybritz,None,Spark,2016-01-16 13:00:13+00:00,2012-10-24 15:58:43+00:00,2016-01-16 13:00:13+00:00,Spark Core,1.0,1178 days 21:01:30
26486,SPARK-595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,New Feature,joshrosen,None,Spark,2016-01-13 10:23:54+00:00,2012-10-26 15:26:45+00:00,2016-01-13 10:23:53+00:00,Documentation,1.0,1173 days 18:57:08
26497,SPARK-584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,None,None,Spark,2016-01-05 21:13:57+00:00,2012-10-22 14:39:08+00:00,2016-01-05 21:13:56+00:00,Spark Core,1.0,1170 days 06:34:48
35400,SPARK-882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,pwendell,None,Spark,2016-10-31 09:38:42+00:00,2013-08-21 00:40:50+00:00,2016-10-31 09:38:40+00:00,Documentation,1.0,1167 days 08:57:50
26447,SPARK-634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,New Feature,rxin,None,Spark,2016-01-18 10:22:46+00:00,2012-12-11 11:38:55+00:00,2016-01-18 10:22:46+00:00,Block Manager,3.0,1132 days 22:43:51
35354,SPARK-928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,matei,None,Spark,2016-10-22 19:03:12+00:00,2013-10-09 16:59:39+00:00,2016-10-22 19:03:12+00:00,Spark Core,1.0,1109 days 02:03:33
31361,SPARK-720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Improvement,emchristiansen,None,Spark,2016-01-08 12:12:04+00:00,2013-03-21 20:51:51+00:00,2016-01-08 12:12:04+00:00,Spark Core,3.0,1022 days 15:20:13
31352,SPARK-729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Bug,matei,None,Spark,2016-01-18 10:25:08+00:00,2013-04-08 14:45:52+00:00,2016-01-18 10:25:08+00:00,Spark Core,3.0,1014 days 19:39:16
31333,SPARK-748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,New Feature,joshrosen,None,Spark,2016-01-18 10:24:06+00:00,2013-05-12 13:39:53+00:00,2016-01-18 10:24:05+00:00,Documentation,3.0,980 days 20:44:12
31338,SPARK-743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,New Feature,prashant,None,Spark,2016-01-04 14:51:54+00:00,2013-05-02 23:54:03+00:00,2016-01-04 14:51:51+00:00,Deploy,3.0,976 days 14:57:48